@import 'meyers-reset.css';
@import 'reset.css';
@import 'menu.css';

@font-face {
	font-family: 'FabfeltScript';
	font-style: normal;
	font-weight: normal;
	src: local('FabfeltScript Bold'),
		url('../fab/FabfeltScript-Bold.woff') format('woff');
}

* {
	/* outline: 2px solid red; */
}

:root {
	--blue: #003554;
	--green: #25a244;
}

body {
	color: #fff;
}

.big-text {
	font-size: 50px;
}

.medium-text {
	font-size: 30px;
	padding-bottom: 30px;
}

.smaller-text {
	font-size: 20px;
}

.supporting-text {
	font-size: 18px;
	padding: 35px 0;
	line-height: 1.4;
}

nav-links {
	visibility: hidden;
	display: none;
}

nav {
	background-color: rgba(0, 0, 0, 0.9);
	height: 75px;
	display: flex;
	align-items: center;
	position: sticky;
	top: 0;
	left: 0;
	z-index: 999;
}

body {
	font-family: monaco;
}

nav-bar {
	padding: 15px;
}

logo {
	display: inline-block;
	font-family: 'FabfeltScript', Arial, Helvetica, sans-serif;
	font-size: 30px;
	padding: 10px;
	color: #fff;
}

/* Hero section */

main {
	background: rgba(0, 0, 0, 0.6);
	height: 100vh;
	position: relative;
}

main:before {
	content: '';
	background: url('../images/keyboard.jpeg') no-repeat center center/cover;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

main .hero-inner {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 80%;
	width: 90%;
	margin: auto;
}

main .btn {
	background: var(--green);
	padding: 15px;
	display: inline-block;
	margin-top: 40px;
}

/* about-me */

.about-me {
	background-color: var(--blue);
	padding: 15px;
	text-align: center;
	border: 3px solid purple;
}

.about-me picture {
	padding: 40px 15px;
}




/*projects-grid*/


.projects {
	padding: 15px 0; 
	background-color: #577590;
	text-align: center;
}

.projects h2 {
	padding: 30px 0 0 0;
}



picture	{
	display: block;
	padding: 10px 20px;

}

picture img {
	display: block;
	height: 300px;
	width: 100%;
	border: 3px solid black;
	
}

.projects-list li {
	list-style: none;
	padding: 30px 0;
}



.projects h3, .projects a, .projects p {
	padding: 10px;

}

.projects-list-item a {
	display: inline-block;
	border: 2px solid black;
	background-color: #333;
}

.projects-list li:nth-of-type(1) {
	padding-top: 10px;
}

.projects-list li:nth-of-type(2) {
	background-color: #90be6d;
}

.projects-list li:nth-of-type(3) {
	background-color: #f8961e;
}

.projects-list li:nth-of-type(4) {
	background-color: #7b2cbf;
}
.projects-list li:nth-of-type(5) {
	background-color: #f94144;
}

.projects-list li:nth-of-type(6) {
	background-color: #184e77;
}






















