@import 'meyers-reset.css';
@import 'reset.css';
@import 'menu.css';

@font-face {
	font-family: 'FabfeltScript';
	font-style: normal;
	font-weight: normal;
	src: local('FabfeltScript Bold'),
		url('../fab/FabfeltScript-Bold.woff') format('woff');
}

* {
	/* outline: 2px solid red; */
}

:root {
	--blue: #003554;
	--green: #25a244;
}

body {
	color: #fff;
}

.big-text {
	font-size: 50px;
}

.supporting-text {
	font-size: 18px;
	padding: 25px 0;
	line-height: 1.4;
}

nav-links {
	visibility: hidden;
	display: none;
}

nav {
	background-color: var(--blue);
	height: 75px;
	display: flex;
	align-items: center;
	position: sticky;
	top: 0;
	left: 0;
	z-index: 999;
}

body {
	font-family: monaco;
}

logo {
	display: inline-block;
	font-family: 'FabfeltScript', Arial, Helvetica, sans-serif;
	font-size: 30px;
	padding: 10px;
	color: #fff;
}

/* Hero section */

main {
	background: rgba(0, 0, 0, 0.6);
	height: 100vh;
	position: relative;
}

main:before {
	content: '';
	background: url('../images/keyboard.jpeg') no-repeat center center/cover;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

main .hero-inner {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 80%;
	width: 90%;
	margin: auto;
}

main .btn {
	background: var(--green);
	padding: 15px;
	display: inline-block;
}
